# Analisis

Value_counts o contar valores es un metodo que hace devolver un objeto de tipo serie que cuenta todos los valores unicos de nuestro dataframe

In [23]:
import pandas as pd
tabla = pd.read_csv('/Users/miguelpantigoso/Downloads/ventasTotales.csv', sep=';', skiprows=5)
tabla.head()

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
0,1/01/16,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1/01/16,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
2,1/01/16,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
3,1/01/16,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/01/16,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"

In [24]:
tabla.Vendedor.value_counts() #Con esto vemos cuantas veces en nuestro registro se repiten tal vendedor en este ejemplo quiere decir que 
#tal vendedor tuvo tantas cantidades de venta
tabla.Vendedor.value_counts(ascending=True) #asciende a al que mas tiene por defecto es false
tabla.Región.value_counts(ascending=True, dropna=False) #dropna es para eliminar los registros nulos por defecto es true

Región
Norte    100
Oeste    102
Sur      120
Este     138
Name: count, dtype: int64

sort_values(ordenar los valores) ordena los valores de una serie de datos o dataframes, tiene parametros axis por defecto 0 y forma ascendente de manera predeterminada. Cuando se utiliza en un dataframe podremos ordenarlos ya sea de forma ascendente como descendente.

In [25]:
tabla.Vendedor.sort_values() #en este caso aplicamos a una serie
tabla.head(30).sort_values(by=['Vendedor','Ganancia'])#aplicado a una dataframe y eligiendo a que columnas

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
25,2/01/16,Boris Stanford,Este,Pan,Comestibles,4,"1,60"
14,2/01/16,Boris Stanford,Norte,Sánguche de Queso,Comestibles,8,"12,80"
11,1/01/16,Boris Stanford,Oeste,Calcetines,Vestimenta,7,"15,75"
29,3/01/16,Boris Stanford,Sur,Shorts,Vestimenta,5,"24,50"
20,2/01/16,Boris Stanford,Este,Calcetines,Vestimenta,12,"27,00"
22,2/01/16,Boris Stanford,Oeste,Sánguche de Queso,Comestibles,2,"3,20"
21,2/01/16,Boris Stanford,Oeste,Bufanda,Vestimenta,14,"38,50"
6,1/01/16,Boris Stanford,Norte,Pepinillo,Comestibles,14,"4,20"
15,2/01/16,Desmond Delaney,Oeste,Pepinillo,Comestibles,5,"1,50"
3,1/01/16,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
28,3/01/16,Desmond Delaney,Este,Medias Femeninas,Vestimenta,7,"21,00"
4,1/01/16,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"
16,2/01/16,Dustin Gee,Norte,Sandalias,Vestimenta,7,"73,50"
23,2/01/16,Sarah Bond,Norte,Bufanda,Vestimenta,4,"11,00"
27,2/01/16,Sarah Bond,Este,Escoba,Hogar,12,"43,80"
2,1/01/16,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
9,1/01/16,Sarah Bond,Este,Caramelos,Comestibles,15,"9,00"
18,2/01/16,Steve Ashton,Este,Cerveza,Comestibles,1,"0,40"
24,2/01/16,Steve Ashton,Norte,Sánguche de Queso,Comestibles,10,"16,00"
13,2/01/16,Steve Ashton,Este,Detergente,Hogar,7,"17,36"
0,1/01/16,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
26,2/01/16,Steve Ashton,Sur,Bufanda,Vestimenta,12,"33,00"
7,1/01/16,Steve Ashton,Oeste,Gorras,Vestimenta,2,"4,20"
17,2/01/16,Trevor Snodgrass,Este,Pan,Comestibles,5,"2,00"
10,1/01/16,Trevor Snodgrass,Sur,Pan,Comestibles,6,"2,40"
12,1/01/16,Trevor Snodgrass,Sur,Shorts,Vestimenta,6,"29,40"
1,1/01/16,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
8,1/01/16,Trevor Snodgrass,Este,Pan,Comestibles,12,"4,80"
19,2/01/16,Trevor Snodgrass,Sur,Escoba,Hogar,11,"40,15"
5,1/01/16,Trevor Snodgrass,Este,Cerveza,Comestibles,15,"6,00"

Condiciones Booleanas :
Se utilizan vectores booleanos para filtrar información

In [26]:
tabla.Artículo == 'Gorras' #muestra una serie de todos los registro de nuestra tabla donde se vendio tal producto
tabla[tabla.Artículo == 'Gorras'] #mas ordenado
#Si queremos visualizar archivos que cumplen dos o mas condiciones
tabla[(tabla.Artículo=='Gorras') & (tabla.Región =='Norte')]

        Fecha          Vendedor Región Artículo   Categoría  Unidades Ganancia
85    6/01/16        Sarah Bond  Norte   Gorras  Vestimenta         9    18,90
156  10/01/16  Trevor Snodgrass  Norte   Gorras  Vestimenta         7    14,70
159  11/01/16      Steve Ashton  Norte   Gorras  Vestimenta         2     4,20
201  14/01/16   Desmond Delaney  Norte   Gorras  Vestimenta         5    10,50
360  25/01/16      Steve Ashton  Norte   Gorras  Vestimenta         7    14,70
368  26/01/16    Boris Stanford  Norte   Gorras  Vestimenta         7    14,70
394  27/01/16      Steve Ashton  Norte   Gorras  Vestimenta        14    29,40
396  27/01/16  Trevor Snodgrass  Norte   Gorras  Vestimenta         3     6,30

Manejo de Strings : para poder manipular en la busqueda manipulando si contiene tal caracter letra o numero etc

In [34]:
tabla[tabla.Vendedor.str.contains('Trevor')] #con esto buscamos un nombre en especial todos lo que incluya
tabla[tabla.Vendedor.str.startswith('D')] #con esto buscamos lo que empieza con T

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
3,1/01/16,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/01/16,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"
15,2/01/16,Desmond Delaney,Oeste,Pepinillo,Comestibles,5,"1,50"
16,2/01/16,Dustin Gee,Norte,Sandalias,Vestimenta,7,"73,50"
28,3/01/16,Desmond Delaney,Este,Medias Femeninas,Vestimenta,7,"21,00"
...,...,...,...,...,...,...,...
452,31/01/16,Dustin Gee,Oeste,Caramelos,Comestibles,6,"3,60"
454,31/01/16,Dustin Gee,Oeste,Limpiavidrios,Hogar,13,"10,40"
456,31/01/16,Dustin Gee,Este,Sandalias,Vestimenta,11,"115,50"
457,31/01/16,Dustin Gee,Este,Sánguche de Queso,Comestibles,4,"6,40"
458,31/01/16,Dustin Gee,Norte,Escobillón,Hogar,8,"6,80"